.form-text-area, .form-text-field {
  border: 1px solid rgb(212, 212, 212);
  padding: 7.5px 10px;
}

.form-text-area:focus, .form-text-field:focus {
  background-color: #fef0d7;
  outline-width: 0px;
}

.form-text-area {
  box-sizing: border-box;
  width: 100%;
}